table {
  border: 5px solid #0074D9;
  background-color: #DDDDDD;
}
th {
  height: 100px;
  width: 200px;
  border: 3px solid #0074D9;
  background-color: #DDDDDD;
}
th p {
  font-family: 'Quicksand', sans-serif;
  color: #0074D9;
  font-size: 20px;
  text-align: center;
  margin: 0px;
}
td {
  height: 100px;
  width: 200px;
  border: 2px solid #0074D9;
  background-color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}
.ribbon {
  height: 20px;
  background-color: #ADD8E6;
  border: solid 0.5px white;

}
.weathersmall {
  font-size: 15px;
  float: right;
  position: absolute;
  left: 25%;
  right:25%;
  top: 20%;
}

.weekdays {
  border: 3px solid #0074D9;
  background-color: #ffffff;
  height: 100px;
  font-size: 20px;
}

td {
  position: relative;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}
.months{
  text-align: center;
  margin: 1px;
  align-content: center;
}
#left {
  float: left;
  display: flex;
  align-content: space-around;
}
#right {
  float: right;
  display: flex;
  align-content: space-around;
}
td p {
  text-align: left;
  position: absolute;
  top: 0px;
  left: 0px;
  color: #0074D9;
}
